[submodule "client"]
	path = client
	url = https://github.com/esaraviam/client
[submodule "server"]
	path = server
	url = https://github.com/esaraviam/server
[submodule "mongo_seed"]
	path = mongo_seed
	url = https://github.com/esaraviam/mongo_seed
